.page-header {
    font-family:sans-serif;
    text-align: center;
/*    background-image: linear-gradient(120deg, #155799, #159957); */
    background: linear-gradient(120deg,#5c258d ,#4389a2);
    background-color: #159957;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
}

.title-text {
    color: #fff;
    text-align: center;
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.paragraph {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

/* Buttons */

.transparent-btn {
    border-color:rgba(255,255,255,.2);
    border-style:solid;
    border-width:1px;
    border-radius: .3rem;
    color:rgba(255,255,255,.7);
    background-color:rgba(255,255,255,.08);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    transition-duration: 0.4s;
    transition:color .2s,background-color .2s,border-color .2s
    -webkit-transition-duration: 0.4s;
}

.transparent-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:rgba(255,255,255,.8);
    background-color:rgba(255,255,255,.2);
    text-decoration:none;
    border-color:rgba(255,255,255,.3)
}

.highlight-btn {
    border-radius: .3rem;
    color: white; /* Text color */
    background-color: #44A446;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* browsers using webkit - safari, min, surf... */
}

.highlight-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: .3rem;
    background-color: #4CAF50;
    color: white; /* Text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
}

.normal-btn {
    border-radius: .3rem;
    color: white; /* Text color */
    background-color: #282828;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* browsers using webkit - safari, min, surf... */
}

.normal-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: .3rem;
    background-color: #202846;
    color: white; /* Text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
}
