html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-align: center;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

body {background-color: #282828;}
